body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.popup-container {
    width: 250px;
    padding: 30px;
    text-align: center;
    background-color: #c5ad59;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

#result-container {
    margin: 20px 0;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item {
    margin-bottom: 15px;
}

.result-item h3 {
    color: #333;
    margin-bottom: 8px;
}

.result-item p {
    color: #c8c0b8;
    font-size: 14px;
}

button {
    background-color: #34b825;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049;
}

.detect-button,
.stop-button {
    background-color: #34b825;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px; /* Adjusted margin to move buttons more down */
}

.detect-button:hover,
.stop-button:hover {
    background-color: #45a049;
}

.additional-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.review-button,
.report-button {
    background-color: transparent;
    color: #4285f4;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.review-button:hover,
.report-button:hover {
    color: #3c74d3;
}



